.lik {
     background-color: green;
     color: white;
     padding: 0 1.2em;
     border-radius: 0.2em;
     }

ul{
    list-style-type: none;
}

 ul li::before {
     content: '✓ ';
 }

.dis {
    background-color: rgb(255, 4, 4);
    color: aliceblue;
    border-radius: 0.2em;
    padding: 0 1.2em;
    margin-bottom: 0%;
}

#neg {
    color: rgb(241, 17, 5);
}